body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
}
ul{
  list-style: none;
  font: normal bold 20px AppleMyungjo;
  padding: 10px;
  margin: 0;
}
a{
  color:black;;
  text-decoration: none;
}
header{
  background-image: linear-gradient(lightblue,transparent);
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.menu{
  text-align: left;
  margin: 0;
}
.profile{
  text-align: right;
  margin: 0;
}
.introduce{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main,.illust{
  text-align: center;
  padding-top: 120px;
  font-family: AppleMyungjo;
  margin: 0;
}
.hangeul{
  letter-spacing: -1.5px;
  line-height: 20px;
}
.cat{
  text-decoration: none;
}
.cat:hover{
color:gray;
}
footer{
  position: fixed;
  bottom:5px;
  width: 100%;
  text-align: center;
  padding: 0;
  font-family: AppleMyungjo;
  font-size: 12px;
  margin: 0;
}
